ROUTER_URL=http://localhost:8000
AGENT_HOST=0.0.0.0
AGENT_PORT=8081
AGENT_ENDPOINT_URL=
ADMIN_PASSWORD=
SESSION_SECRET=
CORE_AGENT_ID=core_personal_agent
INVITATION_TOKEN=

# Telegram (optional)
TELEGRAM_TOKEN=
TELEGRAM_ALLOWED_IDS=

# Discord (optional)
DISCORD_TOKEN=
DISCORD_ALLOWED_IDS=
