ROUTER_URL=http://localhost:8000
AGENT_HOST=0.0.0.0
AGENT_PORT=8081
AGENT_ENDPOINT_URL=
ADMIN_PASSWORD=
SESSION_SECRET=
INVITATION_TOKEN=

# Telegram (optional)
TELEGRAM_TOKEN=

# Discord (optional)
DISCORD_TOKEN=
